.featured {
    justify-content: center;
    gap: 20px;
    margin: 20px;

}

.card img {
    padding: 20px;
}

.card {
    width: 500px;

}

.text {
    padding-left: 50px;
    padding-top: 5px;
    color: purple;
}